In [1]:
import importlib
from utils import *
# importlib.reload(utils)
import numpy as np
import pandas as pd
from tqdm import tqdm

In [2]:
base_url = "https://www.football-data.co.uk/mmz4281/{}/E0.csv"
season = "1415"

In [3]:
df = get_match_data(base_url.format(season))
ws = get_winstreak(df)

In [4]:
### Gradient descent / NO MOMENTUM

### Parameter matrix rows: home off, home def, away off, away def
params = np.ones((4,20))

num_itrs = 10000
lr = 0.0001

teams_ind = {
    "Arsenal": 0,
    "Aston Villa": 1,
    "Burnley": 2,
    "Chelsea": 3,
    "Crystal Palace": 4,
    "Everton": 5,
    "Hull": 6,
    "Leicester": 7,
    "Liverpool": 8,
    "Man City": 9,
    "Man United": 10,
    "Newcastle": 11,
    "QPR": 12,
    "Southampton": 13,
    "Stoke": 14,
    "Sunderland": 15,
    "Swansea": 16,
    "Tottenham": 17,
    "West Brom": 18,
    "West Ham": 19
    }

for i in tqdm(range(num_itrs)):
    batch = df.sample(frac=1/20)

    for index, row in batch.iterrows():

        home_index = teams_ind[row["HomeTeam"]]
        away_index = teams_ind[row["AwayTeam"]]
        home_goal = row["FTHG"]
        away_goal = row["FTAG"]

        # update home team params
        params[0,home_index] += lr * (home_goal / params[0,home_index] - params[3,away_index])
        params[1,home_index] += lr * (away_goal / params[1,home_index] - params[2,away_index])

        # update away team params
        params[2,away_index] += lr * (away_goal / params[2,away_index] - params[1,home_index])
        params[3,away_index] += lr * (home_goal / params[3,away_index] - params[0,home_index])

100%|██████████| 10000/10000 [00:26<00:00, 373.17it/s]

In [5]:
standings(df)

              Team  Points   W   D   L  GD  GF  GA
1          Chelsea      87  26   9   3  41  73  32
2         Man City      79  24   7   7  45  83  38
3          Arsenal      75  22   9   7  35  71  36
4       Man United      70  20  10   8  25  62  37
5        Tottenham      64  19   7  12   5  58  53
6        Liverpool      62  18   8  12   4  52  48
7      Southampton      60  18   6  14  21  54  33
8          Swansea      56  16   8  14  -3  46  49
9            Stoke      54  15   9  14   3  48  45
10  Crystal Palace      48  13   9  16  -4  47  51
11         Everton      47  12  11  15  -2  48  50
12        West Ham      47  12  11  15  -3  44  47
13       West Brom      44  11  11  16 -13  38  51
14       Leicester      41  11   8  19  -9  46  55
15       Newcastle      39  10   9  19 -23  40  63
16     Aston Villa      38  10   8  20 -26  31  57
17      Sunderland      38   7  17  14 -22  31  53
18            Hull      35   8  11  19 -18  33  51
19         Burnley      33   7  12  19 -25  28  53
20             QPR      30   8   6  24 -31  42  73